:root {
  --blue-1: #fdfdfe;
  --blue-2: #f7f9ff;
  --blue-3: #edf2fe;
  --blue-4: #dfeaff;
  --blue-5: #d0dfff;
  --blue-6: #bdd1ff;
  --blue-7: #a6bff9;
  --blue-8: #87a5ef;
  --blue-9: #3d63dd;
  --blue-10: #3657c3;
  --blue-11: #395bc7;
  --blue-12: #1d2e5c;

  --blue-a1: #00008002;
  --blue-a2: #0040ff08;
  --blue-a3: #0047f112;
  --blue-a4: #0058ff20;
  --blue-a5: #0052ff2f;
  --blue-a6: #004eff42;
  --blue-a7: #0048ee59;
  --blue-a8: #0040dd78;
  --blue-a9: #0032d2c2;
  --blue-a10: #002ab3c9;
  --blue-a11: #002cb7c6;
  --blue-a12: #001347e2;

  /* --blue-contrast: #fff;
  --blue-surface: #f5f8ffcc;
  --blue-indicator: #3d63dd;
  --blue-track: #3d63dd; */

  --color-bg-black: #111;
  --color-bg-white: #fff;
  --color-black: #111;
  --color-white: #fff;

  /* Screamin' Green */
  --screaming-green-50: rgb(242, 254, 241);
  --screaming-green-100: hsl(116, 94%, 93%);
  --screaming-green-200: hsl(117, 87%, 85%);
  --screaming-green-300: hsl(118, 85%, 67%);
  --screaming-green-400: hsl(118, 77%, 58%);
  --screaming-green-500: hsl(118, 77%, 45%);
  --screaming-green-800: hsl(119, 71%, 24%);
  --screaming-green-950: hsl(121, 88%, 10%);

  /* Blue Shark */
  --blue-shark-400: hsl(196, 37%, 53%);

  --gray-1: #111113;
  --gray-2: #19191b;
  --gray-3: #222325;
  --gray-4: #292a2e;
  --gray-5: #303136;
  --gray-6: #393a40;
  --gray-7: #46484f;
  --gray-8: #5f606a;
  --gray-9: #6c6e79;
  --gray-10: #797b86;
  --gray-11: #b2b3bd;
  --gray-12: #eeeef0;

  /* Box Shadow */
  --shadow-color-primary: rgba(0, 0, 0, 0.14);
  --shadow-color-secondary: rgba(0, 0, 0, 0.12);
  /* Z-Level 1 (1dp) */
  --shadow-1: 0 1px 3px var(--shadow-color-primary),
    0 1px 2px var(--shadow-color-secondary);

  /* Z-Level 2 (2dp) */
  --shadow-2: 0 2px 4px -1px var(--shadow-color-primary),
    0 4px 5px 0 var(--shadow-color-secondary), 0 1px 10px 0 rgba(0, 0, 0, 0.08);

  /* Z-Level 3 (3dp) */
  --shadow-3: 0 3px 5px -1px var(--shadow-color-primary),
    0 6px 10px 0 var(--shadow-color-secondary), 0 1px 18px 0 rgba(0, 0, 0, 0.08);

  /* Z-Level 6 (6dp) */
  --shadow-6: 0 6px 10px 0 var(--shadow-color-primary),
    0 1px 18px 0 var(--shadow-color-secondary);

  /* Z-Level 12 (12dp) */
  --shadow-12: 0 12px 17px 2px var(--shadow-color-primary),
    0 5px 22px 4px var(--shadow-color-secondary),
    0 7px 8px -4px rgba(0, 0, 0, 0.2);

  /* Spacing Scale (4px Multiplier) */
  --size-0: 0;
  --size-4: 0.25rem; /* 4px */
  --size-8: 0.5rem; /* 8px */
  --size-12: 0.75rem; /* 12px */
  --size-16: 1rem; /* 16px */
  --size-20: 1.25rem; /* 20px */
  --size-24: 1.5rem; /* 24px */
  --size-28: 1.75rem; /* 28px */
  --size-32: 2rem; /* 32px */
  --size-36: 2.25rem; /* 36px */
  --size-40: 2.5rem; /* 40px */
  --size-44: 2.75rem; /* 44px */
  --size-48: 3rem; /* 48px */
  --size-56: 3.5rem; /* 56px */
  --size-64: 4rem; /* 64px */
  --size-80: 5rem; /* 80px */
  --size-100: 6.25rem; /* 100px */
}

.dark,
.dark-theme {
  --gray-1: #111113;
  --gray-2: #19191b;
  --gray-3: #222325;
  --gray-4: #292a2e;
  --gray-5: #303136;
  --gray-6: #393a40;
  --gray-7: #46484f;
  --gray-8: #5f606a;
  --gray-9: #6c6e79;
  --gray-10: #797b86;
  --gray-11: #b2b3bd;
  --gray-12: #eeeef0;

  --gray-a1: #1111bb03;
  --gray-a2: #cbcbf90b;
  --gray-a3: #d6e2f916;
  --gray-a4: #d1d9f920;
  --gray-a5: #d7ddfd28;
  --gray-a6: #d9defc33;
  --gray-a7: #dae2fd43;
  --gray-a8: #e0e3fd60;
  --gray-a9: #e0e4fd70;
  --gray-a10: #e3e7fd7e;
  --gray-a11: #eff0feb9;
  --gray-a12: #fdfdffef;

  --gray-contrast: #ffffff;
  --gray-surface: rgba(0, 0, 0, 0.05);
  --gray-indicator: #6c6e79;
  --gray-track: #6c6e79;
}

/* .dark, .dark-theme {
  
} */

*,
*::before,
*::after {
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

* {
  padding: 0;
  margin: 0;
  font: inherit;
}
html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section {
  padding-top: var(--size-100);
}

h1,
h2,
h4,
h5,
h6 {
  font-family: var(--Inter);
  text-wrap: balance;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  font-family: var(--font-poppins);
  line-height: var(--lh-p);
  font-weight: var(--fw-regular);
  margin: 0;
}

img,
svg,
iframe {
  display: block;
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}

input,
label {
  display: block;
}
