.material-symbols-rounded {
  font-size: 24px; /* Standar ukuran ikon */
  vertical-align: middle; /* Supaya sejajar dengan teks di sampingnya */
  line-height: 1px;
}

/* Sidebar<state>: icon and teks in sidebar before clicked */
.material-symbols-rounded.sidebar-icn {
  font-variation-settings: "FILL" 1, "wght" 700, "GRAD" 0, "opsz" 48;
  color: var(--light-text-tertiary);
  margin-right: var(--size-16);
  font-size: calc(var(--size-32) - 6px);
}

/* Sidebar<state>: change color to white when menu is clicked */
.sidebar-menu ul li a.selected .material-symbols-rounded.sidebar-icn {
  color: #fff;
}

/* Sidebar<state>: logout icon */
.material-symbols-rounded.logout {
  color: red;
}

/* menu dashboard : announcement notification icon */
.announcement-header .notif-icon {
  font-variation-settings: "FILL" 0, "wght" 700, "GRAD" 0, "opsz" 48;
  font-size: var(--size-32);
}

/* menu dashboard: statistic card icon */
.card-statistics .statistic-icn {
  font-variation-settings: "FILL" 0, "wght" 700, "GRAD" 0, "opsz" 48;
  font-size: var(--size-32);
}

/* menu biodata: style icon*/
.biodata-item .biodata-icons {
  color: #FFF;
  background-color: var(--green-500);
  padding: var(--size-8);
  border-radius: var(--size-16);
  font-size: var(--fz-h4);
  box-shadow: var(--shadow-md);
}

/* Menu biodata: blue reminder card */
.exclamation-icon {
  font-variation-settings: "FILL" 0, "wght" 700, "GRAD" 0, "opsz" 48;
  padding: var(--size-4);
  background-color: #1d4ed8;
  border-radius: var(--size-56);
}