.material-symbols-rounded {
  font-size: 24px; /* Standar ukuran ikon */
  vertical-align: middle; /* Supaya sejajar dengan teks di sampingnya */
  line-height: 1px;
}

/* state: icon and teks in sidebar before clicked */
.material-symbols-rounded.sidebar-icn {
  font-variation-settings: "FILL" 1, "wght" 700, "GRAD" 0, "opsz" 48;
  color: var(--light-text-tertiary);
  margin-right: var(--size-16);
  font-size: calc(var(--size-32) - 6px);
}

/* state: change color to white when menu is clicked */
.sidebar-menu ul li a.selected .material-symbols-rounded.sidebar-icn {
  color: #fff;
}

/* logout icn in sidebar menu */
.material-symbols-rounded.logout {
  color: red;
}

/* Dashboard : announcement notification icon */
.announcement-header .notif-icon {
  font-variation-settings: "FILL" 0, "wght" 700, "GRAD" 0, "opsz" 48;
  font-size: var(--size-32);
}

/* Dashboard: statistic card icon */
.card-statistics .statistic-icn {
  font-variation-settings: "FILL" 0, "wght" 700, "GRAD" 0, "opsz" 48;
  font-size: var(--size-32);
}
