/* profile-card container and announcement-container*/
.card-indentity,
.announcement-container {
  background-color: var(--light-bg-secondary);
  margin-top: var(--size-40);
  border: 1px solid var(--light-border);
  border-radius: var(--size-8);
  box-shadow: var(--shadow-md);
  overflow: hidden;
}

.card-indentity {
  text-align: center;
  width: 100%;
  padding: var(--size-40) var(--size-16);
}

.identity-detail {
  display: flex;
  flex-direction: column;
  gap: var(--size-16);
  margin-block: var(--size-32);
}

.identity-detail h6 {
  font-size: var(--fz-h4);
  color: var(--light-text-primary);
  font-weight: var(--fw-bold);
}

.identity-detail .id-primary {
  color: var(--light-text-secondary);
  font-weight: var(--fw-medium);
}

.identity-detail .status {
  width: 80%;
  margin: 0 auto;
  padding-block: var(--size-8);
  margin-top: var(--size-16);
  background-color: color-mix(in srgb, var(--green-400), transparent 50%);
  border-radius: var(--size-40);
  color: var(--emerald-900);
  font-weight: var(--fw-bold);
}

/* dashboard: Announcement Section */
.announcement-container .announcement-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--size-12) var(--size-8);
  background-image: linear-gradient(
    to right,
    var(--green-400),
    var(--teal-500)
  );
  color: #fff;
}

.announcement-container .title-announcement {
  display: flex;
  align-items: center;
  gap: var(--size-8);
}

/* link<anchor> lihat semua */
.lihat-semua {
  display: block;
  font-size: var(--fz-xs);
  font-weight: var(--fw-medium);
  color: #fff;
  text-decoration: underline;
  padding: var(--size-16) var(--size-12);
  text-align: right;
  cursor: pointer;
}

/* announcement article */
.announcement-content {
  margin-inline: var(--size-12);
  padding-bottom: var(--size-20);
}

/* giver border top and bottom for second article */
.announcement-content .announcement-article:nth-of-type(2) {
  border-bottom: 1px solid var(--gray-11);
  border-top: 1px solid var(--gray-11);
}

.announcement-article {
  padding-block: var(--size-16);
}

.announcement-article p {
  margin-block: var(--size-8);
  color: var(--light-text-tertiary);
}

/* Statistik Card */
.card-statistics {
  position: relative;
  width: 100%;
  margin-block: var(--size-16);
  border-radius: var(--size-8);
  color: #fff;
  padding: var(--size-20) var(--size-16);
  transition: box-shadow 0.3s ease;
}

.card-statistics::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  border-radius: inherit;
  transition: box-shadow 0.3s ease;
}
/* Prestasi akademik */
.card--blue::before {
  background-image: linear-gradient(to left, #b3d6ff, #66adff);
  box-shadow: var(--shadow-blue);
}
.card--blue:hover::before {
  box-shadow: var(--shadow-blue-hover);
}

/* Total SKS */
.card--orange::before {
  background-image: linear-gradient(to left, #fecba1, #ffb64d);
  box-shadow: var(--shadow-orange);
}
.card--orange:hover::before {
  box-shadow: var(--shadow-orange-hover);
}

/* Matkul Aktif */
.card--green::before {
  background-image: linear-gradient(to left, #82e8d3, #2ed8b6);
  box-shadow: var(--shadow-green);
}
.card--green:hover::before {
  box-shadow: var(--shadow-green-hover);
}

/* title statistic */
.statistic-header {
  display: flex;
  align-items: center;
  gap: var(--size-8);
  margin-bottom: var(--size-32);
}

/* all <p> in .statistic-container */
.statistic-container p {
  font-size: var(--fz-h6);
  font-weight: var(--fw-medium);
}

/* prestasi akademik */
.statistic-container .ipk-card p {
  color: #dcecf1;
}

/* current value ipk and active matakuliah */
.statistic-container .curr-value {
  font-size: var(--fz-h4);
  font-weight: var(--fw-bold);
}

.statistic-container .ip-kumulatif {
  display: flex;
  justify-content: space-between;
  padding-top: var(--size-8);
  margin-top: var(--size-4);
  border-top: 2px solid #fff;
}

/* Total SKS */
.card-statistics .progress-bar {
  display: flex;
  flex-direction: column;
  text-align: right;
}
/* general progress bar */
progress {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  height: var(--size-12);
  margin-block: var(--size-16);
  border-radius: var(--size-8);
  border: none;
  overflow: hidden;
}

/* background white in (Webkit/Chrome/Safari) */
progress::-webkit-progress-bar {
  background-color: #fff;
  /* background-color: #eee; */
  border-radius: 8px;
}

/* change bar color (Webkit/Chrome/Safari) */
progress::-webkit-progress-value {
  background-color: #ffe065;
  border-radius: var(--size-8);
}

/* change background (Firefox) */
progress::-moz-progress-bar {
  background-color: #ffe065;
  border-radius: var(--size-8);
}

.card-statistics.active-subject p {
  border-top: 2px solid #fff;
  padding-top: var(--size-8);
  margin-top: var(--size-4);
}
