/* header container */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--light-bg-secondary);
  border-bottom: 1px solid var(--gray-12);
  box-shadow: var(--shadow-xs);
}

/* header content mobile version */
.header .name {
  display: none;
}

/* Student Name */
.name h3 {
  font-family: var(--font-poppins);
  font-size: var(--fz-h5);
  font-weight: var(--fw-medium);
  color: var(--light-text-primary);
}

/* Role */
.name span {
  font-family: var(--font-poppins);
  font-weight: var(--fw-regular);
  color: var(--light-text-tertiary);
}

/* photo Profile */
.header img {
  width: clamp(var(--size-40), 8vw, var(--size-56));
  height: clamp(var(--size-40), 8vw, var(--size-56));
  border-radius: 50%;
  box-shadow: var(--shadow-sm);
}

.header .menu-toggle {
  cursor: pointer;
  font-size: var(--size-40);
  box-shadow: var(--shadow-xs);
  padding: var(--size-4);
  border-radius: var(--size-8);
  transition: background-color 0.3s ease;
}

.header .menu-toggle:hover {
  background-color: var(--gray-11);
}

/* header content desktop version */
@media (min-width: 70rem) {
  .header {
    justify-content: flex-end;
  }
  .header .menu-toggle {
    display: none;
  }

  .header .name {
    display: block;
    margin-right: var(--size-16);
    text-align: right;
    cursor: default;
  }
}
