.maintenance-container {
  max-width: calc(var(--size-100) * 7);
  margin-inline: min(5rem, 3vw);
  margin-block: var(--size-100);
  padding: var(--size-32) var(--size-16);
  text-align: center;
}

.maintenance-container h3 {
  font-weight: var(--fw-bold);
  margin-block: var(--size-20);
}

.maintenance-container p {
  color: var(--light-text-secondary);
  font-weight: var(--fw-medium);
}

@media screen and (min-width: 48rem) {
  .maintenance-container {
    margin-inline: auto;
  }
}
